@use "global" as *;

.c-drawer-icon {
  // position: relative;
  position: fixed;
  top: 0px;
  right: 0px;

  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
 z-index: 102;
}

.c-drawer-icon__bar {
  // position: absolute;
  // left: 0;
  width: 16px;
  height: 3px;
  background-color: $black;
  border-radius: 6px;
  top: 50%;
  // transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
 

  &:nth-child(1) {
    width: 20px;
    top: 0;
  }

  &:nth-child(2) {
    width: 13px;
    top: 25%;
    // top: calc(50% + 1.5px);
  }

  &:nth-child(3) {
    width: 20px;
    bottom: 0;
    // top: calc(50% + 13px);
  }
}

// メニューが開いているとき
.c-drawer-icon.js-show {
  .c-drawer-icon__bar:nth-child(1) {
    rotate: 45deg;
    // translate: 5px;//(13px - 3px)/2
    top: 25%;
  }
  .c-drawer-icon__bar:nth-child(2) {
    display: none;
  }
  .c-drawer-icon__bar:nth-child(3) {
    rotate: -45deg;
    // translate: 0 -5px;//(13px - 3px)/2
    top: 25%;
  }
}
