@use "global" as *;

.c-scroll-btn {
    height: 145px;
    width: 145px;
    position: relative;
    -webkit-animation: rotate_anime 4s linear infinite;
    animation: rotate_anime 4s linear infinite;
}

@keyframes rotate_anime {
    0% {
        transform: rotate(0deg);
    }
}
