@use "global" as *;

.c-section-header {
    text-align: center;
}

.c-section-header__white {
}

.c-section-header__engtitle-wrapper {
    display: inline-block;
    position: relative;

  &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url(../../images/common/title-star.svg);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }
}

.c-section-header__engtitle-wrapper__white {

    &::after {
        background-image: url(../../images/common/title-star-white.svg);
    }
}

.c-section-header__engtitle {
    display: inline-block;
    font-family: Lato;
    font-size: 64px;
    font-style: italic;
    font-weight: 700;

    @include mq("md") {
        font-size: 40px;
    }
}

.c-section-header__engtitle--gradation {
    // z-index: 100;//position:relativeを追加するとテキストが消えてしまったため、追加したが表示消えたまま。
    // position: relative;//これを追加するとテキストが消える。
    background: linear-gradient(90deg, #3C577B 0%, #449D85 49%, #53B9DE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-section-header__engtitle__white {
    color: $white;

      &::after {
        background-image: url(../../images/common/title-star-white.svg);
    }
}

.c-section-header__engtitle__green {
    color: #21B5CF;
}

.c-section-header__jatitle {
    margin-top: 11px;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    @include mq(md) {
        margin-top: 4px;
    }
}

.c-section-header__jatitle--gradation {
    background: linear-gradient(90deg, #3C577B 0%, #449D85 49%, #53B9DE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-section-header__jatitle__white {
    color: $white;
}

.c-section-header__jatitle__green {
    color:#21B5CF;
}



