@use "global" as *;

.c-top-btn {
    height: 145px;
    width: 145px;
    position: relative;
    animation: rotate_anime 4s linear infinite;
    @keyframes rotate_anime {
        0% {
            transform:rotate(0deg);
        }
        100% {
            transform:rotate(360deg);
        }
    }

   


}