@use "global" as *;

.p-benefit {
  background-color: $white;
  padding-inline: 66px;
}

.p-benefit__inner {
    max-width: 1120px;
    margin-inline: auto;
    // padding-inline: 66px;
    padding-block: 24px 77px;
}
.p-benefit__cards {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 34px;
  row-gap: 28px;
}

.p-benefit__card {

}

.p-benefit__description {
  margin-top: 40.5px;
  display: flex;
  justify-content: center;;
}

.p-benefit__description-text {
  display: inline-block;
  color: $black;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 400;

  @include mq("lg") {
    text-align: center;
  }
}